<html>
<head>
<title>dettus.net- Now with dMagnetic, a Magnetic Scrolls Interpreter.</title>
</head>
<body bgcolor='#000000' text='#d5d6d5' link='#44ffff' vlink='#44ffff' alink='#44ffff'>
<table>
<td valign="top" align="right" width='5%'>
<a href="/index.html"><img src="/dettus.png" height=43 width=88></a><br>
<a href="/logix">:LOGIX</a><br>
<a href="/photos">:photos</a><br>
<a href="/papers">:papers</a><br>
<a href="/tutorials">:tutorials</a><br>
<a href="/drm">:drm</a><br>
<a href="/n2048">:n2048</a><br>
<a href="/nmicrocoder">:nmicrocoder</a><br>
<a href="/d11amp">:d11amp</a></br>
<a href="/daes">:daes</a><br>
<a href="/dhex">:dhex</a><br>
<a href="/deadline">:deadline</a><br>
<a href="/dettuxx">:dettuxx</a><br>
<a href="/detLFS">:detLFS</a><br>
<a href="/dMagnetic">:dMagnetic</a><br>
<a href="/circdraw">:circdraw</a><br>
<a href="/systemc.html">:systemc</a><br>
<a href="/xf86config.html">:xf86config</a><br>
<a href="/qdslconfig.html">:qdslconfig</a><br>
<a href="/bootfloppy">:bootfloppy</a><br>
<a href="/6502">:6502</a><br>
<a href="/alienware">:alienware</a><br>
<a href="/inhouse/inhouse.html">:inhouse</a><br>
<br>
<a href="/math">:math</a><br>
<br>
<a href="/winscp368setup.exe">winscp.exe</a><br>
<a href="/putty.exe">putty.exe</a><br>
<br>
<a href="/impressum.html">:impressum</a><br>
</td><td valign="top" width='1%'></td><td valign="top" width='96%'>
<hr>
<h1>d11amp</h1>
<h2>d11amp is an oldskool MP3-player</h2>
<br>
d11amp is a frontend to MPG123, trying to resemble WinAmp, utilizing its treasure trove of <a href="https://skins.webamp.org">themes</a>. It has been published under the BSD 2-clause license.<br>
<br>
For feedback, please do not hesitate to send an email to dettus_AT_dettus.net. Make sure to include D11AMP somewhere in the header!<br>
<hr>
<h1>Download d11amp %VERSIONNUMHERE%</h1>
<h3>%DATEHERE%<br>
%DESCRIPTIONHERE%
<br>
</h3>
<table>
<tr><td><a href="%TARBZ2HERE%">%TARBZ2HERE%</a></td><td>%MD5SUM_TARBZ2HERE%</td><tr>
</table>
<br>
<a href="old_releases.html">Click here to download previous releases...</a><br>
<hr>
<h1>Screenshots</h1>
<table>
<tr><td bgcolor="#000060" colspan="1">d11amp, Version 0.60</td></tr>
<tr>
<td><a href="d11amp060.png"><img src="t_d11amp060.png"></a></td>
<tr>
<td>d11amp Version 0.60, with the improved playlist window.</td>
</table>
<br>
<table>
<tr><td bgcolor="#000060" colspan="1">d11amp, Version 0.59</td></tr>
<tr>
<td><a href="d11amp059.png"><img src="t_d11amp059.png"></a></td>
<tr>
<td>d11amp Version 0.59, with the new skin.</td>
</table>
<br>
<table>
<tr><td bgcolor="#000060" colspan="1">d11amp, Version 0.58</td></tr>
<tr>
<td><a href="d11amp058.png"><img src="t_d11amp058.png"></a></td>
<tr>
<td>d11amp Version 0.58, with the XMMS skin.</td>
</table>
<br>
<hr>
<h1>How to compile</h1>
Make sure the prerequisites are met. The following libraries are needed:<br>
<ul>
<li><a href="https://download.gnome.org/sources/gdk-pixbuf/">gdk-pixbuf 2.0</a> (or later)</li>
<li><a href="https://www.gtk.org/">GTK4</a></li>
<li><a href="https://www.mpg123.de/download.shtml">MPG123</a></li>
<li><a href="http://files.portaudio.com/download.html">portaudio</a></li>
<li><a href="https://libzip.org/download/">libzip</a></li>
</ul>

<pre>
wget https://www.dettus.net/d11amp/%TARBZ2HERE%
tar xvfj %TARBZ2HERE%
cd d11amp_%VERSIONNUMHERE%
make
./d11amp
<pre>
</td></tr>
</body>
</html>
