<html>
<head>
<title>dettus.net- Now with dMagnetic, a Magnetic Scrolls Interpreter.</title>
</head>
<body bgcolor='#000000' text='#d5d6d5' link='#44ffff' vlink='#44ffff' alink='#44ffff'>
<table>
<td valign="top" align="right" width='5%'>
<a href="/index.html"><img src="/dettus.png" height=43 width=88></a><br>
<a href="/logix">:LOGIX</a><br>
<a href="/photos">:photos</a><br>
<a href="/papers">:papers</a><br>
<a href="/tutorials">:tutorials</a><br>
<a href="/drm">:drm</a><br>
<a href="/n2048">:n2048</a><br>
<a href="/nmicrocoder">:nmicrocoder</a><br>
<a href="/d11amp">:d11amp</a></br>
<a href="/daes">:daes</a><br>
<a href="/dhex">:dhex</a><br>
<a href="/deadline">:deadline</a><br>
<a href="/dettuxx">:dettuxx</a><br>
<a href="/detLFS">:detLFS</a><br>
<a href="/dMagnetic">:dMagnetic</a><br>
<a href="/circdraw">:circdraw</a><br>
<a href="/systemc.html">:systemc</a><br>
<a href="/xf86config.html">:xf86config</a><br>
<a href="/qdslconfig.html">:qdslconfig</a><br>
<a href="/bootfloppy">:bootfloppy</a><br>
<a href="/6502">:6502</a><br>
<a href="/alienware">:alienware</a><br>
<a href="/inhouse/inhouse.html">:inhouse</a><br>
<br>
<a href="/math">:math</a><br>
<br>
<a href="/winscp368setup.exe">winscp.exe</a><br>
<a href="/putty.exe">putty.exe</a><br>
<br>
<a href="/impressum.html">:impressum</a><br>
</td><td valign="top" width='1%'></td><td valign="top" width='96%'>
<a href="https://www.dettus.net/d11amp/index.html">Click here to go back</a><br><br>
<hr>
<table border="1" width='60%'>
<!-- <tr><td valign=top width='10%'>%VERSIONHERE%</td><td valign=top width='10%'>%DATEHERE%</td><td valign=top >%DESCRIPTIONHERE%<br></td><td valign=top width='5%'><a href="%TARBZ2HERE%">%TARBZ2HERE%</a><br>%MD5SUM_TARBZ2HERE%<br></td></tr> --!>
<tr><td valign=top width='10%'>Version 0.58</td><td valign=top width='10%'>16-sep-2022</td><td valign=top >The "tear-it-down-and-rebuild-it" release! The program code became hard to maintain, so I decided to build it all up again! This version is more stable now. Not all the buttons are working, but it is a significant milestone in the right direction. Enjoy! <br></td><td valign=top width='5%'><a href="d11amp_0.58.tar.bz2">d11amp_0.58.tar.bz2</a><br>fce7f9f197694124c204a81b44c7d571<br></td></tr>
<tr><td valign=top width='10%'>Version 0.01</td><td valign=top width='10%'>23-aug-2022</td><td valign=top >This is the first release of d11amp, the "proof-of-concept" release. The software structure is very chaotic, and it will become very hard to maintain in the future. However, whilst I am rethinking the whole architecture, this one is already functional and usable. With any luck, it will generate a little bit of feedback. It definetly awoke my personal sense of nostalgia. <br></td><td valign=top width='5%'><a href="d11amp_0.01.tar.bz2">d11amp_0.01.tar.bz2</a><br></td></tr>
</table>
</td>
</table>
</body>
</html>
